body {
    margin: 0;
}
p {
    margin-bottom: 5px;
}
.square {
    height: 30px;
    width: 30px;
    margin: 0 5px 0 0;
    border: 1px solid #000;
    float: left;
}
.text_name_comp {
    color: red;
    margin: 0;
}
.sam_nomer {
    display:inline-block;
    vertical-align:middle;
}
.helper {            /*вспомагательный элемент, чтобы номера тел были по средине блока*/
    display:inline-block;
    vertical-align:middle;
    height:100%;
    width:0px;
}
.krygi {
    height: 120px;
    width: 100%;
}
#header {
    /*height: 100px;*/
    width: 100%;
    background: #C7BDBF;
}
#name_comp {
    background: #FADD05;
    width: 170px;
    /*height: 56px;*/
    float: left;
    margin: 20px 50px 20px 100px;
}
#little_text {
    color: #595858;
    font-size: 9px;
    text-align: center;
    margin: 6px;
}
#telephone {
    background: #FADD05;
    width: 170px;
    float: left;
    /*height: 56px;*/
    padding: 12px 10px;
    margin: 22px 50px 18px 80px;
    text-align: center;
}
#menu {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #595858;
    text-align: center;
}
#menu a:hover {
    color: #11F224;
    border-bottom: 1px solid #000000;
}
#menu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 200;
    display: inline-block;
    padding: 5px;
}
#menu li {
    display: inline;
    border-left: 1px solid #000000;
    padding: 0 5px 0 10px;
}
#menu li:first-child {
    border-left: none;
}
#content {
    height: 400px;
    width: 100%;
    background: #ffffff;
}
#news {
    background: #FAF25C;
    height: 300px;
    width: 170px;
    display: inline-block;
    margin: 20px 50px 20px 100px;
    padding: 15px;
    overflow: hidden;
    color: #FA0707;
    font-size: small;
}
#about_comp {
    background: #D0D9D8;
    width: 350px;
    height: 350px;
    display: inline-block;
    margin: 20px 30px 20px 20px;
    color: #FA0707;
    padding: 10px;
    font-size: small;
}
#footer {
    height: 120px;
    width: 100%;
    background: #595858;
}