body {
    margin: 0;
}
#header {
    height: 80px;
    width: 100%;
    background: #C7BDBF;
}
#name_comp {
    background: #FADD05;
    width: 150px;
    height: 45px;
    position: absolute;
    left: 100px;
    top: 15px;
}
#telephone {
    background: #FADD05;
    width: 150px;
    height: 45px;
    position: absolute;
    left: 500px;
    top: 15px;
}
#menu {
    height: 30px;
    width: 100%;
    background: #595858;
    text-align: center;
}
#picture {
    height: 120px;
    width: 100%;
    background: #F7ABC8;
}
#content {
    height: 400px;
    width: 100%;
    background: #ffffff;
}
#news {
    background: #FADD05;
    width: 200px;
    height: 350px;
    position: absolute;
    left: 100px;
    top: 250px;
    overflow: scroll;
}
#about_comp {
    background: #D0D9D8;
    width: 500px;
    height: 350px;
    position: absolute;
    left: 350px;
    top: 250px;
    overflow: scroll;
    }
#footer {
    height: 120px;
    width: 100%;
    background: #595858;
}